/* =============
    Facts
============= */
#Facts{
    display: grid;
    margin-left: 16px;
    margin-right: 16px;
    

    h1 {
        font-weight: 500;
        font-size: rem-calc(28);
        text-align: left;
        margin-left: 12px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    p {
        font-weight: 300;
        font-size: rem-calc(16);
        text-align: left;
        margin-left: 12px;
        padding-bottom: 16px;
    
        @include md {
            margin-top: 24px;
            padding-bottom: 36px;
        }
    }

    #images-1{
        
        grid-template-columns: 50% auto;
        
        @include md{
            display: grid;
        }
        #card-1{

                img{
                    height: 35vh;
                    width: 55vh;
                align-items: center;
                    padding-left: 16px;

                    @include xl{
                        height: 55vh;
                        width: 80vh;
                    }
                }
            }
    }
    }

#images-2{
    grid-template-columns: 50% auto;
    grid-template-areas: "card-2 .";
    

    @include md{
        display: grid;
    }

    #card-2{
        grid-area: card-2;

            img{
                height: 35vh;
                    width: 55vh;
                align-items: center;
                padding-left: 16px;

                @include xl{
                    height: 55vh;
                    width: 80vh;
                }
            }
        }
    }


