/* =============
    hero
============= */

#Hero-1{

    div{
  
        #hero-image{
            width: 100vw;
            height: 50vh;
            background-image: url("../img/instantsb.jpeg");
            background-position: center center;
                    background-size: cover;
            
        
            @include md{
            //     width: 100vw;
            // height: 100vh;
            background-image: url("../img/parrasb.jpeg");
            background-position: center;
            // background-size: cover;
            }
        
            @include lg{
            //     width: 100vw;
            // height: 100vh;
            background-image: url("../img/passportsb.jpeg");
            height:80vh;
            // background-size: cover;
            }
        
            @include xl{
            //     width: 100vw;
            // height: 100vh;
            background-image: url("../img/philliesdunk.jpeg");
            height:120vh;
            // background-size: cover;
            }
        }
    }

}