/* =============
    Our History
============= */
#History{
    display: grid;
    grid-area: History;
    
    margin: 16px;

    @include lg{
        margin: 24px;
    }

    h1 {
        font-weight: 500;
        font-size: rem-calc(28);
        text-align: left;
        margin-left: 12px;
        padding-top: 16px;
        
    }

    p {
        font-weight: 300;
        font-size: rem-calc(16);
        text-align: left;
        margin-left: 12px;
        padding-bottom: 24px;
    
        @include md {
            margin-top: 24px;
        }
    }
    
    
    #gallery-1{
    
        ul{
            padding-top: 24px;
            display: grid;
            grid-template-rows: 50vh;
            
            @include md {
                grid-template-rows: 40vh 40vh;
                    grid-template-columns: 50% 50%;
                    grid-template-areas:
                        "i1 i1 i2 i2"
                        "i1 i1 i2 i2"
                        "i1 i1 i2 i2"
                        
            }
    
            li{
                height: 50%;
                width: 50%;
            }
    
            #i1{
                background-image: url("../img/History/bluebox.png");
                margin: 16px;
                @include md{
                    background-position: center;
                    background-size: cover;
                    grid-area: i1;
                }
            }
    
            #i2{
                background-image: url("../img/History/purplebox.png");
                margin: 16px;
                @include md{
                    background-position: center;
                    background-size: cover;
                    grid-area: i2;
                }
            }
    }

    #pink-hero{
        #pinkbox{
            background-image: url("../img/History/pinkbox.png");
            margin: 16px;
            background-position: center;
                    background-size: cover;
                    grid-area:pink-hero;
        }
}
    
    #beyond{
        display: grid;
        
        img{
            display: flex;
            margin-top: 24px;
            background-size: cover;
            width: 100%;
    
            @include lg{
                display: flex;
                margin-top: 40px;
                background-size: cover;
                width: 100%;
            }
        } 
        
        
    }
    }    
}
    
    
